<section class="content-header">
  <h1>
  Clientes
  <small>Lista</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#/estado"><i class="fa fa-user"></i>Clientes</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!--
        <div class="box-header">
          <h3 class="box-title">Phone Calls</h3>
        </div>
        -->
        <div class="box-body">
          <a class="btn btn-primary" style="width:91px;" href="#/clientes/insert">Inserir</a>
          <br/><br/>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>                
                <th>ID</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Documento</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cliente in clientes">                
                <td>{{estado.id}}</td>
                <td>{{estado.nome}}</td>
                <td>{{estado.apelido}}</td>
                <td>{{estado.documento}}</td>
                <td>{{estado.datanascimento}}</td>
                <td>{{estado.endereco}}</td>
                <td style="width:170px;">
                  <a style="width:75px;" class="btn btn-sm btn-primary" href="#/estados/edit={{estado.id}}">
                  <span class="glyphicon glyphicon-pencil"></span> Editar
                  </a>
                  <button style="width:75px;" class="btn btn-sm btn-primary" ng-click="delete(estado)">
                  <span class="glyphicon glyphicon-trash" ></span> Deletar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>