<section class="content-header">
  <h1>
  Clientes
  <small>Edição</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#/estados"><i class="fa fa-user"></i>Clientes</a></li>
    <li class="active">Editar</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" rows="10" cols="50" class="form-control" ng-model="cliente.nome"></input>
              <br>
              <label for="apelido">Apelido</label>
              <input type="text" id="apelido" rows="10" cols="50" class="form-control" ng-model="cliente.apelido"></input>
              <br>
              <label for="documento">Documento</label>
              <input type="text" id="documento" rows="10" cols="50" class="form-control" ng-model="cliente.documento"></input>
              <br>
              <div class="form-group">
	              <label for="datanascimento">Data de Nascimento:</label>
	              <div class="input-group">
	                <div class="input-group-addon">
	                  <i class="fa fa-calendar"></i>
	                </div>             
           			<input type="text" id="datanascimento" rows="10" cols="50" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="cliente.datanascimento"></input>
				  </div>	
			 </div>	
              <br>
              <label for="endereco">Endereço</label>
              <input type="text" id="endereco" rows="10" cols="50" class="form-control" ng-model="cliente.endereco"></input>
              <br>
              
            </div>            
          </div>
          <div class="box-footer">
            <button class="btn btn-primary" ng-click="update()">Atualizar</button>    
            <a class="btn btn-primary" href="#/estados">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>